<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="./vue.js"></script>
  <link rel="stylesheet" href="./index.css">
</head>

<body>

  <div id="app">
    <div class="goods" v-for="(goodName, goodIndex) in goodsList" :key="goodName.title">
      <div class="title">{{ goodName.title }}</div>
      <ul class="type-list">
        <li class="type" v-for="(typeGood, index) in goodName.typeList" :key="typeGood"
          :class="{active: goodName.index == index}" @click="selGood(goodIndex, index, typeGood)">{{ typeGood }}</li>
      </ul>
    </div>
    <div class="choose-type">
      <div>已选条件:</div>
      <span class="no-goods" v-if="disConditions">
        暂时没有选择过滤条件
      </span>
      <ul class="filter-list" v-else>
        <li v-for="(loItem, key) in loveList">
          {{ loItem }}
          <span class="delete-goods" @click="deleteLove(key)">x</span>
        </li>
      </ul>
    </div>
  </div>

  <script>
    const vm = new Vue({
      el: '#app',
      data: {
        goodsList: [{
            title: '上装',
            typeList: ['全部', '针织衫', '毛呢外套', 'T恤', '羽绒服', '棉衣', '卫衣', '风衣'],
            id: 1,
          },
          {
            title: '裤装',
            typeList: ['全部', '牛仔裤', '小脚/铅笔裤', '休闲裤', '打底裤', '哈伦裤'],
            id: 2,
          },
          {
            title: '裙装',
            typeList: ['全部', '连衣裙', '半身裙', '长袖连衣裙', '中长款连衣裙'],
            id: 3,
          }
        ],
        disConditions: true,
        loveList: {},
      },
      methods: {
        selGood(goodIndex, index, typeGood) {
          console.log(goodIndex, index);
          this.goodsList[goodIndex].index = index;
          this.disConditions = false;
          if (typeGood == "全部") {
            return
          }
          this.$set(this.loveList, goodIndex, typeGood)
        },
        deleteLove(key) {
          this.$delete(this.loveList, key)
        },
      }
    })
    vm.goodsList.forEach(item => vm.$set(item, 'index', 0))
  </script>
</body>

</html>